HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### QueryDSL (QClass) ###
/build/generated/
/src/main/generated/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## application ###
/src/main/resources/application.yml

# AI Prompts
/src/main/resources/ai-prompts/

# QueryDSL generated sources
src/main/generated/

# FFmpeg binary
ffmpeg-bin/
ffmpeg.zip

# STT/TTS
google-stt-tts.json

#env
.env

# AI Prompts (Security)
/src/main/resources/ai-prompts/
