name: Java CI/CD with Gradle and Docker
on:
  push:
    branches: [ develop, main ]

jobs:
  ci:
    name: CI - Build Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle (without test)
        run: ./gradlew build -x test

  deploy:
    name: CD - Deploy to EC2
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          timeout: 60m
          script: |
            cd /home/ubuntu/BE  # docker-compose.yml 경로
            git pull origin ${{ github.ref_name }}
            docker compose up -d --build
            docker system prune -f
